.movie {
  input[type=button] {
    color: #fff;
    background: #337ab7;
    display:inline-block;
    border: 1px solid #2e6da4;
    text-decoration: none;
    border-radius: 2px;
    padding: 6px 20px;
  }
}