.movie {
  display: flex;
  flex-direction: row;
  text-align: left;

  div:nth-child(2){
    margin-left: 1rem;
  }

  input[type=button] {
    border: none;
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    color: #0000ff;
    padding: 0;
  }

  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
}